/* GLOBAL STYLING HERE */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Accent Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Inter", sans-serif;
  @apply tracking-wide;
  transition: background-color 0.3s ease, color 0.3s ease; /* Added transition for background and text color */
}

/* Light mode */
body {
  @apply bg-light-bg text-light-text;
}

/* Dark mode */
.dark body {
  @apply bg-dark-bg text-dark-text;
}

/* Navbar transitions */
.navbar, .navbar-small-screen, .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* Small screen navbar transitions */
.navbar-small-screen {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%);
}

.navbar-small-screen.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Hover effect for navbar links */
.nav-link:hover {
  color: #EE2B7C; /* Match the gradient color */
}

span,
.primary-color {
  background-image: linear-gradient(to right, #EE2B7C, #ff589d);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Space Mono";
  font-weight: 700;
}

/* Dark mode, text, bg, accent
#E6E7EA
#111f45
#EE2B7C */

/* Light mode, text, bg, accent
#151619
#BAC8EE
#D41162 */

